<!DOCTYPE html>
<html>
  <head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="content/bootstrap/js/bootstrap.min.js"></script>

   <div class="container-fluid">
        <div class="row-fluid">
            @RenderBody()
        </div>
   </div> 
</body>
</html>

